src/main/app/oauth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd">
    <http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration" />
	<api-platform-gw:client-store id="my-client-store"
		doc:name="Client Store" />
	<context:property-placeholder location="init.properties" />
	
    <oauth2-provider:config name="OAuth_provider_module" accessTokenEndpointPath="oauth/token" providerName="Custom-provider" clientStore-ref="my-client-store" authorizationEndpointPath="oauth/authorize" doc:name="OAuth provider module" supportedGrantTypes="CLIENT_CREDENTIALS AUTHORIZATION_CODE"/>
    <flow name="oauthFlow">
        <http:listener config-ref="HTTP_Listener_Configuration"
			path="/app/validate/*" doc:name="HTTP" />
        <logger message="OAuth Request received! #[message.correlationId] ::  #[message.id]" level="INFO" doc:name="Logger"/>
		<oauth2-provider:validate config-ref="OAuth_provider_module"
			doc:name="OAuth provider module" />
        <logger message="After OAuth Provider module" level="INFO" doc:name="Logger"/>
		<custom-processor
			class="com.mulesoft.module.oauth2.ValidatorResponseBuilder" doc:name="ValidatorResponseBuilder"
			name="Custom_Processor" />
		<logger level="INFO" doc:name="Logger" message="#[' ------Token is valid.']" />
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="Exception occured " level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
</mule>
